@model Papeleriaweb.Models.Producto

<!DOCTYPE html>
<html>
<head>
    <title>Detalles de Producto</title>
    <style>
        /* Estilos CSS opcionales para mejorar la apariencia */
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
        }

        .container {
            max-width: 800px;
            margin: auto;
            background: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Detalles de Producto</h1>
        <p><strong>Id_producto:</strong> @Model.Id_producto</p>
        <p><strong>Nombreproducto:</strong> @Model.Nombreproducto</p>
        <p><strong>Marcaproducto:</strong> @Model.Marcaproducto</p>
        <p><strong>Descripcionproducto:</strong> @Model.Descripcionproducto</p>
         PrecioUnitario: 
        <p><strong>Stockproducto:</strong> @Model.Stockproducto</p>
        <p><strong>Colorproducto:</strong> @Model.Colorproducto</p>
        <p><strong>Tipoproducto:</strong> @Model.Tipoproducto</p>
    </div>
</body>
</html>
